%body
  #loading_screen
    .team#teamblue
      .champion.blue_champion#blue0
      .champion.blue_champion#blue1
      .champion.blue_champion#blue2
      .champion.blue_champion#blue3
      .champion.blue_champion#blue4
    #loading VERSUS
    .team#teamred
      .champion.red_champion#red0
      .champion.red_champion#red1
      .champion.red_champion#red2
      .champion.red_champion#red3
      .champion.red_champion#red4
:javascript
  $(document).ready(function() {
    var dispatcher = new WebSocketRails("#{request.host_with_port}/websocket");
    dispatcher.on_open = function (data) {
        console.log('Connection has been established: ', data);
        // You can trigger new server events inside this callback if you wish.
    };

    dispatcher.bind('loading_screen_msg', function (ws) {
      show_loading_screen(ws.data);
    });

    dispatcher.bind('status_msg', function(ws) {
      console.log(ws);
      switch(ws.status) {
        case "loading":
          show_loading_screen(ws.data);
          console.log("It's loading !");
          break;
        case "running":
          run_game(ws.data);
          break;
        case "ended":
          console.log("Game has ended");
          break;
      };
    });

    dispatcher.bind('event_msg', function(ws) {
      //console.log(ws);
    });

    dispatcher.bind('game_state_msg', function(ws){
      console.log(ws);
      //update_map
    });
  });

  function show_loading_screen(data){
    $('#loading_screen').show();
    $.each(data, function(index, champion){
      if (index < 5){
        $("#blue"+index.toString()).append("<img src=\"" + get_loading_champion_image_url(champion.image) + "\"/>");
      }
      if (index >=5){
        $("#red"+(index - 5).toString()).append("<img src=\"" + get_loading_champion_image_url(champion.image) + "\"/>");
      }
    });
  };

  function run_game(data){
    $('#loading_screen').fadeOut();
  };

  function get_loading_champion_image_url(img){
    return "#{RiotApi::Static_Data.get_realm({region: 'euw'})['cdn']}/img/" + img.group + "/loading/" + img.full.slice(0, -4) + "_0.jpg"
  };
