%body
  #loading_screen.screen
    .team#teamblue
      .champion.blue_champion#blue0
      .champion.blue_champion#blue1
      .champion.blue_champion#blue2
      .champion.blue_champion#blue3
      .champion.blue_champion#blue4
    #vs VERSUS
    .team#teamred
      .champion.red_champion#red5
      .champion.red_champion#red6
      .champion.red_champion#red7
      .champion.red_champion#red8
      .champion.red_champion#red9
  #game_screen.screen
    .summary_container
      .team_summary#blue_team_summary{style: "float: left; width: 40%"}
        %table#bluetable{:border => "3", :bordercolor => "black"}
          %caption#bluetitle BLUE TEAM
          %tr
            %th{width: "30px"}
              %img{src: image_path("tower_blue.png")}
            %th{width: "30px"}
              %img{src: image_path("gold.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("score.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("drake.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("baron.png"), style: "width: 100%"}
          %tr
            %td
              .team_summary_towers.line2#blue_team_summary_towers
            %td
              .team_summary_gold.line2#blue_team_summary_gold
            %td
              .team_summary_score.line2#blue_team_summary_score
            %td
              .team_summary_drakes.line2#blue_team_summary_drakes
            %td
              .team_summary_barons.line2#blue_team_summary_barons
      .minimap{style: "float: left;width: 20%;text-aling: center"}
        %img{src: image_path("logo.png"), style: "width: 100%"}
      .team_summary#red_team_summary{style: "float: right; width: 40%"}
        %table#redtable{:border => "3", :bordercolor => "black"}
          %caption#redtitle RED TEAM
          %tr
            %th{width: "30px"}
              %img{src: image_path("tower_red.png")}
            %th{width: "30px"}
              %img{src: image_path("gold.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("score.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("drake.png"), style: "width: 100%"}
            %th{width: "30px"}
              %img{src: image_path("baron.png"), style: "width: 100%"}
          %tr
            %td
              .team_summary_towers.line2#red_team_summary_towers
            %td
              .team_summary_gold.line2#red_team_summary_gold
            %td
              .team_summary_score.line2#red_team_summary_score
            %td
              .team_summary_drakes.line2#red_team_summary_drakes
            %td
              .team_summary_barons.line2#red_team_summary_barons
    .side#blue
      .team_side#blue_team
        %table#blue_participants{:border => "3", :bordercolor => "black"}
          %tr
            %th{width: "48px"} Champions
            %th Level
            %th{:width => "180px"} Brawler
            %th{:width => "60px"}K
            %th{:width => "60px"}D
            %th{:width => "60px"}A
            %th{:width => "390px"} Items
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_1
            %td
              .participant_summary_level.line1#participant_summary_level_1
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_1
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_1
            %td
              .participant_summary_kda.line1#participant_summary_kills_1
            %td
              .participant_summary_kda.line1#participant_summary_deaths_1
            %td
              .participant_summary_kda.line1#participant_summary_assists_1
            %td
              .participant_summary_items#participant_summary_items_1
                .participant_summary_item#participant_summary_item_1_1
                .participant_summary_item#participant_summary_item_2_1
                .participant_summary_item#participant_summary_item_3_1
                .participant_summary_item#participant_summary_item_4_1
                .participant_summary_item#participant_summary_item_5_1
                .participant_summary_item#participant_summary_item_6_1
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_2
            %td
              .participant_summary_level.line1#participant_summary_level_2
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_2
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_2
            %td
              .participant_summary_kda.line1#participant_summary_kills_2
            %td
              .participant_summary_kda.line1#participant_summary_deaths_2
            %td
              .participant_summary_kda.line1#participant_summary_assists_2
            %td
              .participant_summary_items#participant_summary_items_2
                .participant_summary_item#participant_summary_item_1_2
                .participant_summary_item#participant_summary_item_2_2
                .participant_summary_item#participant_summary_item_3_2
                .participant_summary_item#participant_summary_item_4_2
                .participant_summary_item#participant_summary_item_5_2
                .participant_summary_item#participant_summary_item_6_2
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_3
            %td
              .participant_summary_level.line1#participant_summary_level_3
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_3
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_3
            %td
              .participant_summary_kda.line1#participant_summary_kills_3
            %td
              .participant_summary_kda.line1#participant_summary_deaths_3
            %td
              .participant_summary_kda.line1#participant_summary_assists_3
            %td
              .participant_summary_items#participant_summary_items_3
                .participant_summary_item#participant_summary_item_1_3
                .participant_summary_item#participant_summary_item_2_3
                .participant_summary_item#participant_summary_item_3_3
                .participant_summary_item#participant_summary_item_4_3
                .participant_summary_item#participant_summary_item_5_3
                .participant_summary_item#participant_summary_item_6_3
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_4
            %td
              .participant_summary_level.line1#participant_summary_level_4
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_4
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_4
            %td
              .participant_summary_kda.line1#participant_summary_kills_4
            %td
              .participant_summary_kda.line1#participant_summary_deaths_4
            %td
              .participant_summary_kda.line1#participant_summary_assists_4
            %td
              .participant_summary_items#participant_summary_items_4
                .participant_summary_item#participant_summary_item_1_4
                .participant_summary_item#participant_summary_item_2_4
                .participant_summary_item#participant_summary_item_3_4
                .participant_summary_item#participant_summary_item_4_4
                .participant_summary_item#participant_summary_item_5_4
                .participant_summary_item#participant_summary_item_6_4
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_5
            %td
              .participant_summary_level.line1#participant_summary_level_5
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_5
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_5
            %td
              .participant_summary_kda.line1#participant_summary_kills_5
            %td
              .participant_summary_kda.line1#participant_summary_deaths_5
            %td
              .participant_summary_kda.line1#participant_summary_assists_5
            %td
              .participant_summary_items#participant_summary_items_5
                .participant_summary_item#participant_summary_item_1_5
                .participant_summary_item#participant_summary_item_2_5
                .participant_summary_item#participant_summary_item_3_5
                .participant_summary_item#participant_summary_item_4_5
                .participant_summary_item#participant_summary_item_5_5
                .participant_summary_item#participant_summary_item_6_5
        .blue_bets
          %button#blue_bet_button
            Bet on blue !
    .side#red
      .team_side#red_team
        %table#red_participants{:border => "3", :bordercolor => "black"}
          %tr
            %th{width: "48px"} Champions
            %th Level
            %th{:width => "180px"} Brawler
            %th{:width => "60px"}K
            %th{:width => "60px"}D
            %th{:width => "60px"}A
            %th{:width => "390px"} Items
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_6
            %td
              .participant_summary_level.line1#participant_summary_level_6
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_6
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_6
            %td
              .participant_summary_kda.line1#participant_summary_kills_6
            %td
              .participant_summary_kda.line1#participant_summary_deaths_6
            %td
              .participant_summary_kda.line1#participant_summary_assists_6
            %td
              .participant_summary_items#participant_summary_items_6
                .participant_summary_item#participant_summary_item_1_6
                .participant_summary_item#participant_summary_item_2_6
                .participant_summary_item#participant_summary_item_3_6
                .participant_summary_item#participant_summary_item_4_6
                .participant_summary_item#participant_summary_item_5_6
                .participant_summary_item#participant_summary_item_6_6
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_7
            %td
              .participant_summary_level.line1#participant_summary_level_7
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_7
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_7
            %td
              .participant_summary_kda.line1#participant_summary_kills_7
            %td
              .participant_summary_kda.line1#participant_summary_deaths_7
            %td
              .participant_summary_kda.line1#participant_summary_assists_7
            %td
              .participant_summary_items#participant_summary_items_7
                .participant_summary_item#participant_summary_item_1_7
                .participant_summary_item#participant_summary_item_2_7
                .participant_summary_item#participant_summary_item_3_7
                .participant_summary_item#participant_summary_item_4_7
                .participant_summary_item#participant_summary_item_5_7
                .participant_summary_item#participant_summary_item_6_7
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_8
            %td
              .participant_summary_level.line1#participant_summary_level_8
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_8
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_8
            %td
              .participant_summary_kda.line1#participant_summary_kills_8
            %td
              .participant_summary_kda.line1#participant_summary_deaths_8
            %td
              .participant_summary_kda.line1#participant_summary_assists_8
            %td
              .participant_summary_items#participant_summary_items_8
                .participant_summary_item#participant_summary_item_1_8
                .participant_summary_item#participant_summary_item_2_8
                .participant_summary_item#participant_summary_item_3_8
                .participant_summary_item#participant_summary_item_4_8
                .participant_summary_item#participant_summary_item_5_8
                .participant_summary_item#participant_summary_item_6_8
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_9
            %td
              .participant_summary_level.line1#participant_summary_level_9
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_9
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_9
            %td
              .participant_summary_kda.line1#participant_summary_kills_9
            %td
              .participant_summary_kda.line1#participant_summary_deaths_9
            %td
              .participant_summary_kda.line1#participant_summary_assists_9
            %td
              .participant_summary_items#participant_summary_items_9
                .participant_summary_item#participant_summary_item_1_9
                .participant_summary_item#participant_summary_item_2_9
                .participant_summary_item#participant_summary_item_3_9
                .participant_summary_item#participant_summary_item_4_9
                .participant_summary_item#participant_summary_item_5_9
                .participant_summary_item#participant_summary_item_6_9
          %tr
            %td
              .sprite_container
                .participant_summary_champion.line1#participant_summary_champion_10
            %td
              .participant_summary_level.line1#participant_summary_level_10
            %td
              .sprite_container
                .participant_summary_brawler.line1#participant_summary_brawler_10
                .participant_summary_brawler_upgrade.line1#participant_summary_brawler_upgrade_10
            %td
              .participant_summary_kda.line1#participant_summary_kills_10
            %td
              .participant_summary_kda.line1#participant_summary_deaths_10
            %td
              .participant_summary_kda.line1#participant_summary_assists_10
            %td
              .participant_summary_items#participant_summary_items_10
                .participant_summary_item#participant_summary_item_1_10
                .participant_summary_item#participant_summary_item_2_10
                .participant_summary_item#participant_summary_item_3_10
                .participant_summary_item#participant_summary_item_4_10
                .participant_summary_item#participant_summary_item_5_10
                .participant_summary_item#participant_summary_item_6_10
        .red_bets
          %button#red_bet_button
            Bet on red !
    #map
  #winning_screen.screen
    #blue_victory.victory_container
      %img.winner_img{src: image_path("blue_victory.png")}
      .blue_score.score
        %p
          BLUE TEAM WINS !
        %p
          SCORE :
          %span.player_score
          \/1000
    #red_victory.victory_container
      %img.winner_img{src: image_path("red_victory.png")}
      .red_score.score
        %p
          RED TEAM WINS !
        %p
          SCORE :
          %span.player_score
          \/1000
:javascript
  var participants_items = [[],[],[],[],[],[],[],[],[],[],[]];
  $(document).ready(function() {
    launch_winner_screen({team_id: "BLUE_TEAM"});
    var dispatcher = new WebSocketRails("#{request.host_with_port}/websocket");
    dispatcher.on_open = function (data) {
        console.log('GL & HF !', data);
    };

    dispatcher.bind('status_msg', function(ws) {
      switch(ws.status) {
        case "loading":
          //launch_loading_screen(ws.data);
          break;
        case "running":
          //launch_game_screen(ws.data);
          break;
        case "ended":
          //launch_winner_screen(ws.data);
          break;
      };
    });

    dispatcher.bind('bet_results_msg', function(ws){
      $(".player_score").text(Math.floor(ws.score).toString());
    });

    dispatcher.bind('bet_received_msg', function(ws){
      if(ws.team == "BLUE_TEAM"){
        $(".blue_bets").css("border","5px solid #006699");
        $(".red_bets").css("border","");
      }
      if(ws.team == "RED_TEAM"){
        $(".red_bets").css("border","5px solid #990000");
        $(".blue_bets").css("border","");
      }
    });

    $("#blue_bet_button").click(function(){
      dispatcher.trigger('bet', "BLUE_TEAM");
    });
    $("#red_bet_button").click(function(){
      dispatcher.trigger('bet', "RED_TEAM");
    });
    dispatcher.bind('event_msg', function(ws) {
      ws.type == 'event' ? process_event(ws.data) : process_frame(ws.data);
    });

    var unloadEvent = window.attachEvent || window.addEventListener;
    var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload';

    unloadEvent(chkevent, function(e) {
      dispatcher.disconnect();
    });
  });

  function launch_loading_screen(data){
    $(".screen").hide();
    $('#loading_screen').fadeIn(1000);
    $.each(data, function(index, champion){
      $("#" + team_side(index + 1) + index.toString()).html("<img src=\"" + get_loading_champion_image_url(champion.image) + "\"/>");
    });
  };

  function launch_game_screen(data){
    $(".screen").hide();
    $("#game_screen").fadeIn(1000);
    build_game(data);
  };

  function launch_winner_screen(data){
    if (data.team_id == "BLUE_TEAM")
    {
        $("#blue_victory").show();
        $("#red_victory").hide();
    }
    if (data.team_id == "RED_TEAM")
    {
        $("#blue_victory").hide();
        $("#red_victory").show();
    }
    $(".blue_bets").css("border","");
    $(".red_bets").css("border","");
    $(".screen").hide();
    $("#winning_screen").fadeIn(1000);
  };

  function build_game(data){
    participants_items = [[],[],[],[],[],[],[],[],[],[],[]];
    build_team("blue", data.blue_team);
    build_team("red", data.red_team);
  };

  function build_team(side, data){
    build_team_summary(side, data);
    build_participants_summary(data.participants);
  };

  function build_team_summary(side, data){
    $("#"+side+"_team_summary_towers").text(data.tower_kills);
    $("#"+side+"_team_summary_gold").text((data.gold / 1000).toFixed().toString() + "k");
    $("#"+side+"_team_summary_drakes").text(data.drakes.toString());
    $("#"+side+"_team_summary_barons").text(data.barons.toString());
    $("#"+side+"_team_summary_score").text(data.total_kills.toString());
  }

  function build_participants_summary(data){
    $.each(data, function(i, participant)
    {
      build_participant(participant)
    });
  };

  function build_participant(participant)
  {
    get_sprite($("#participant_summary_champion_" + participant.participantId), participant.champion.image);
    $("#participant_summary_level_" + participant.participantId).html(participant.level.toString() == 0 ? "1&nbsp;" : participant.level.toString());
    $("#participant_summary_kills_"+participant.participantId).text(participant.kills.toString());
    $("#participant_summary_deaths_"+participant.participantId).text(participant.deaths.toString());
    $("#participant_summary_assists_"+participant.participantId).text(participant.assists.toString());
    $("#participant_summary_brawler_" + participant.participantId).attr("style", "");
    $("#participant_summary_brawler_upgrade_" + participant.participantId).attr("style", "");
    if (participant.brawler.type != null){get_sprite($("#participant_summary_brawler_" + participant.participantId), participant.brawler.type.image);};
    if (participant.brawler.evolve != null){get_sprite($("#participant_summary_brawler_upgrade_" + participant.participantId), participant.brawler.evolve.image);};
    build_participant_item_set($("#participant_summary_items_" + participant.participantId),participant.items, participants_items[participant.participantId]);
  };

  function get_sprite(jquery_div, image)
  {
    jquery_div.attr("style",get_sprite_style(image));
  };

  function build_participant_item_set(jquery_div, item_set, stuff)
  {
    $.each(item_set, function(index, item){
      stuff.push(item);
    });
    display_item_set(stuff, jquery_div)
  };

  function display_item_set(stuff, jquery_div){
    $.each(jquery_div.children("div"), function(index, div){
      if (typeof(stuff[index]) !== "undefined"){
        get_sprite($(div), stuff[index].image);
      }
      else
      {
        $(div).attr("style", "");
      }
    });
  };

  function get_loading_champion_image_url(img){
    return "#{RiotApi::Static_Data.get_realm({region: 'euw'})['cdn']}/img/" + img.group + "/loading/" + img.full.slice(0, -4) + "_0.jpg"
  };

  function get_sprite_style(img){
    return "width:" + img.w + "px;height:" + img.h + "px;background: url(#{StaticData.get_base_dragon_url("euw")}/img/sprite/" + img.sprite + "); background-repeat:no-repeat;background-position:-" + img.x + "px -" + img.y + "px;";
  }

  function process_event(data) {
    switch(data.eventType){
      case "BUILDING_KILL" :
        process_building_kill(data);
        break;
      case "CHAMPION_KILL" :
        process_champion_kill(data);
        break;
      case "ELITE_MONSTER_KILL" :
        process_elite_monster_kill(data);
        break;
      case "ITEM_DESTROYED" :
        process_item_remove(data);
        break;
      case "ITEM_SOLD" :
        process_item_remove(data);
        break;
      case "ITEM_UNDO" :
        process_item_remove(data);
        break;
      case "ITEM_PURCHASED" :
        process_item_add(data);
        break;
      case "SKILL_LEVEL_UP" :
        process_skill_level_up(data);
        break;
    };
  };

  function process_item_remove(event){
    if (!event.is_brawler && !event.is_brawler_upgrade)
    {
      stuff = participants_items[event.participant.participantId];
      index = -1;
      $.each(stuff, function(i, item){
        if (item.id == event.item.id){
          index = i;
          return(false);
        }
      });
      if (index == -1){
        console.log("Not found : " + event.item.name);
        if (!event.item)
          console.log(event);
      }
      else{
        stuff.splice(index, 1);
      };
      display_item_set(stuff, $("#participant_summary_items_" + event.participant.participantId));
    }
  };

  function process_item_add(event){
    if (event.is_brawler)
      get_sprite($("#participant_summary_brawler_" + event.participant.participantId), event.item.image);
    else if (event.is_brawler_upgrade)
      get_sprite($("#participant_summary_brawler_upgrade_" + event.participant.participantId), event.item.image);
    else
    {
      participants_items[event.participant.participantId].push(event.item)
      display_item_set(participants_items[event.participant.participantId], $("#participant_summary_items_" + event.participant.participantId));
    };
  };

  function process_frame(frame){
    if (frame)
    {
      $("#blue_team_summary_gold").text((frame.blue_team_gold / 1000).toFixed().toString() + "k");
      $("#red_team_summary_gold").text((frame.red_team_gold.toFixed(1) / 1000).toFixed().toString() + "k");
    }
  };

  function process_building_kill(event){
    if (event.buildingType == "TOWER_BUILDING")
      process_tower_kill(event);
    if (event.buildingType == "INHIBITOR_BUILDING")
      process_inhibitor_kill(event);
  };

  function process_inhibitor_kill(event){
  };

  function process_tower_kill(event){
    event.teamId == 200 ? $("#blue_team_summary_towers").text(1 + parseInt($("#blue_team_summary_towers").text())) : $("#red_team_summary_towers").text(1 + parseInt($("#red_team_summary_towers").text()));
  };

  function process_champion_kill(event){
    $("#participant_summary_kills_" + event.killerId).text(parseInt($("#participant_summary_kills_" + event.killerId).text()) + 1);
    $("#participant_summary_deaths_" + event.victimId).text(parseInt($("#participant_summary_deaths_" + event.victimId).text()) + 1);
    $.each(event.assisting_participants, function(i, p){
      $("#participant_summary_assists_" + p.participantId).text(parseInt($("#participant_summary_assists_" + p.participantId).text()) + 1);
    });
    $("#" + team_side(event.killerId) + "_team_summary_score").text(parseInt($("#" + team_side(event.killerId) + "_team_summary_score").text()) + 1)
  };

  function process_elite_monster_kill(event){
    if (event.monsterType == "DRAGON")
      $("#" + team_side(event.killerId) + "_team_summary_drakes").text(parseInt($("#" + team_side(event.killerId) + "_team_summary_drakes").text()) + 1)
    else
      $("#" + team_side(event.killerId) + "_team_summary_barons").text(parseInt($("#" + team_side(event.killerId) + "_team_summary_barons").text()) + 1)
  };

  function  process_skill_level_up(event){
    div = $("#participant_summary_level_" + event.participant.participantId)
    if (div.html() == "1&nbsp;"){
      div.text("1");
    }
    else{
      div.text(parseInt(div.text()) + 1);
    }

  };

  function team_side(participantId){
    return (participantId < 6 ? "blue" : "red");
  };
