defaults: &defaults
  api_key: "<your-key-here>"
  base_url: "api.pvp.net/api/lol"

development:
    <<: *defaults

staging:
    <<: *defaults

test:
    <<: *defaults

devcenter:
    <<: *defaults

preprod:
    <<: *defaults

production:
    <<: *defaults