// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  background: url(background.png) no-repeat;
}

#loading_screen, #game{
  display: none
}

.team{
  display: block;
  width: 1578px;
  background-color: black;
  height: 380px;
  margin: auto;
  margin-top: 55px;
  border-width: 4px;
  border-style: solid;
}

#teamblue {
  border-color: #3399FF;
}

#teamred {
  border-color: #CC0000;
}

#loading {
  position: relative;
  font-weight: bold;
  top: 60px;
  margin: auto;
  text-align: center;
  font-size: 35px;
  font-family: Verdana, Geneva, sans-serif;
}

.champion{
  margin-right: 1%;
  margin-left: 1%;
  display: block;
  width: 19%;
  height: 100%;
  float: left;
  background-color: black;
  border-width: 4px;
  border-style: solid;
  border-bottom: none;
  border-top: none;
  margin: auto;
  padding: 0;
}

.red_champion{
  border-color: #CC0000;
}

.blue_champion{
  border-color: #3399FF;
}
